
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

        <li>
            <a href="#/wbox/index">
                <i class="ti-folder"></i>
                <span data-i18n="Repositories"></span>
            </a>
            <!-- <ul>
                 <li><a href="#/ui/typography"><i class="ti-angle-right"></i><span data-i18n="Typography"></span></a></li>
                 <li><a href="#/ui/icons"><i class="ti-angle-right"></i><span data-i18n="Icons"></span></a></li>
                 <li><a href="#/ui/buttons"><i class="ti-angle-right"></i><span data-i18n="Buttons"></span></a></li>
                 <li><a href="#/ui/components"><i class="ti-angle-right"></i><span data-i18n="Components"></span> <span class="badge badge-danger">18</span></a></li>
                 <li><a href="#/ui/boxes"><i class="ti-angle-right"></i><span data-i18n="Boxes"></span></a></li>
                 <li><a href="#/ui/widgets"><i class="ti-angle-right"></i><span data-i18n="Widgets"></span> <span class="badge badge-success">13</span></a></li>
                 <li><a href="#/ui/timeline"><i class="ti-angle-right"></i><span data-i18n="Timeline"></span></a></li>
                 <li><a href="#/ui/nested-lists"><i class="ti-angle-right"></i><span data-i18n="Nested Lists"></span></a></li>
                 <li><a href="#/ui/pricing-tables"><i class="ti-angle-right"></i><span data-i18n="Pricing Tables"></span></a></li>
                 <li><a href="#/ui/maps"><i class="ti-angle-right"></i><span data-i18n="Maps"></span></a></li>
                 <li><a href="#/ui/grids"><i class="ti-angle-right"></i><span data-i18n="Grids"></span></a></li>
             </ul>-->
        </li>

        <!--TODO: tooltip if collapse-->
        <li tooltip-placement="right" tooltip="TimeLine" tooltip-append-to-body="true">
            <a href="#/wbox/timeline">
                <i class="ti-pulse"></i>
                <span data-i18n="Timeline"></span>
            </a>
        </li>

        <li>
            <a href="#/wbox/masks">
                <i class="ti-notepad"></i>
                <span data-i18n="Masks"></span>
            </a>
            <!--<ul>
                <li><a href="#/pages/signin"><i class="ti-angle-right"></i><span data-i18n="Sign In"></span></a></li>
                <li><a href="#/pages/signup"><i class="ti-angle-right"></i><span data-i18n="Sign Up"></span></a></li>
                <li><a href="#/pages/forgot-password"><i class="ti-angle-right"></i><span data-i18n="Forgot Password"></span></a></li>
                <li><a href="#/pages/lock-screen"><i class="ti-angle-right"></i><span data-i18n="Lock Screen"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-i18n="User Profile"></span></a></li>
                <li><a href="#/pages/404"><i class="ti-angle-right"></i>404 <span data-i18n="Error"></span></a></li>
                <li><a href="#/pages/500"><i class="ti-angle-right"></i>500 <span data-i18n="Error"></span></a></li>
                <li><a href="#/pages/blank"><i class="ti-angle-right"></i><span data-i18n="Blank Page"></span></a></li>
            </ul>-->
        </li>
        <li>
            <a href="#/wbox/documents">
                <i class="ti-files"></i>
                <span data-i18n="Documents"></span>
            </a>
            <!--<ul>
                <li><a href="#/tables/static"><i class="ti-angle-right"></i><span data-i18n="Static Tables"></span></a></li>
                <li><a href="#/tables/responsive"><i class="ti-angle-right"></i><span data-i18n="Responsive Tables"></span> <span class="badge badge-info">2</span></a></li>
                <li><a href="#/tables/dynamic"><i class="ti-angle-right"></i><span data-i18n="Dynamic Tables"></span></a></li>
            </ul>-->
        </li>
        <li>
            <a href="#/wbox/releases">
                <i class="ti-time"></i>
                <span data-i18n="Releases"></span>
            </a>
           <!-- <ul>
                <li><a href="#/forms/layouts"><i class="ti-angle-right"></i><span data-i18n="Form Layouts"></span></a></li>
                <li><a href="#/forms/elements"><i class="ti-angle-right"></i><span data-i18n="Form Elements"></span> <span class="badge badge-info">12</span></a></li>
                <li><a href="#/forms/validation"><i class="ti-angle-right"></i><span data-i18n="Form Validation"></span></a></li>
                <li><a href="#/forms/wizard"><i class="ti-angle-right"></i><span data-i18n="Form Wizard"></span></a></li>
            </ul>-->
        </li>
        <li>
            <a href="#/wbox/attachments">
                <i class="ti-clip"></i>
                <span data-i18n="Attachments"></span>
            </a>
            <!--<ul>
                <li><a href="#/charts/flot"><i class="ti-angle-right"></i>Flot <span data-i18n="Charts"></span></a></li>
                <li><a href="#/charts/chartjs"><i class="ti-angle-right"></i>ChartJS <span data-i18n="Charts"></span></a></li>
                <li><a href="#/charts/charts"><i class="ti-angle-right"></i>Other <span data-i18n="Charts"></span></a></li>
            </ul>-->
        </li>
        <!--<li class="nav-task">
            <a href="#/tasks/tasks">
                <i class="ti-check-box"></i><span data-i18n="Tasks"></span>
                <span class="badge badge-danger main-badge"
                      data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>
        <li>
            <a href="#/mail"><i class="ti-email"></i><span data-i18n="Mail"></span></a>
            <ul>
                <li><a href="#/mail/inbox"><i class="ti-angle-right"></i><span data-i18n="Inbox"></span></a></li>
                <li><a href="#/mail/compose"><i class="ti-angle-right"></i><span data-i18n="Compose"></span></a></li>
                <li><a href="#/mail/single"><i class="ti-angle-right"></i><span data-i18n="Single Mail"></span></a></li>
            </ul>
        </li>-->
    </ul>
</div>