@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("/lib/bootstrap/css/bootstrap.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

        <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="//cdn.jsdelivr.net/requirejs/2.1.14/require.js"></script>
    </head>
    <body>
        @content
    </body>
</html>
